In [2]:
# 리스트 생성
a = 1
b = 2
c = 3

d = [1, 2, 3, 4, 5, 6, 7, 8]
#    0,  1,  2,  3,  4,  5,  6,  7
#   -8.-7, -6, -5, -4, -3, -2. -1 
print(type(d))
print(d)
print(d[2])   # 인덱스 0부터 시작
print(d[0:4]) # 0부터 4까지
print(d[:-4]) # 처음부터 -4

for i in d :
    print(i+1, end=' ')

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]
3
[1, 2, 3, 4]
[1, 2, 3, 4]
2 3 4 5 6 7 8 9

In [3]:
for i in d :
    if i % 3 == 0 :
        print(i, end = ' ')

3 6

In [7]:
a = list(range(1, 101))

In [6]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [8]:
for i in a :
    if i % 3 == 0 :
        print(i, end = ' ')
    else :
        print('X', end=' ')

X X 3 X X 6 X X 9 X X 12 X X 15 X X 18 X X 21 X X 24 X X 27 X X 30 X X 33 X X 36 X X 39 X X 42 X X 45 X X 48 X X 51 X X 54 X X 57 X X 60 X X 63 X X 66 X X 69 X X 72 X X 75 X X 78 X X 81 X X 84 X X 87 X X 90 X X 93 X X 96 X X 99 X

In [17]:
# *
# **
# ***

for i in range(3) :
    print('{:3}'.format('*'*(i+1)))

print()

for i in range(1, 4) :
    for j in range(1, i+1) :
        print('*', end='')
    print()

*
**
***

*
**
***

In [18]:
for i in range(1, 4) :
    print('*' * i)

*
**
***

In [24]:
# 리스트 값 합 구하기
d = ['1', '2', '3', '4.0', '5']
s = 0

for i in d :
    s = s + float(i)

print(s)

15.0

In [25]:
# 리스트 값 합 구하기
d = ['1', '2', '3', '4.0', '5']
s = 0

for i in d :
    s = s + int(i)

print(s)

ValueError: invalid literal for int() with base 10: '4.0'

In [28]:
# 리스트에서 3의 배수의 합 구하기

c = 0
for i in range(1, 11) :
    if i % 3 == 0 :
        c += i
        # c += c + i
print(c)

18

In [29]:
# 2차원 리스트 출력하기

a = [[1, 2], [3, 4], [5, 6]]

print(a)

[[1, 2], [3, 4], [5, 6]]

In [30]:
print(a[0])

[1, 2]

In [31]:
print(a[0][0])

1

In [32]:
for i in a :
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [34]:
for i in a :
    for j in i :
        print(j, end=' ')
    print()

1 2
3 4
5 6

In [40]:
# 최대값, 최소값 구하기

a = [3, 4, 289, 2, 34, 134]
mx = a[0]
mn = a[0]

for i in a :
    if mx < i :
        mx = i
    if mn > i :
        mn = i
print(f'최대값은 = {mx}')
print(f'최소값은 = {mn}')

최대값은 = 289
최소값은 = 2

In [41]:
# 세트를 합집합, 교집합, 차집합 구하기
a = [1, 2, 5, 8, 2, 4, 5]
b = [1, 2, 3]

s1 = set(a)
s2 = set(b)
print(s1)
print(s2)

# 세트는 중복을 허용하지 않는다.
# set는 인덱스가 없다 / list는 인덱스가 있다

{1, 2, 4, 5, 8}
{1, 2, 3}

In [42]:
print(type(s1))

<class 'set'>

In [45]:
print(s1 & s2) # 교집합
print(s1 | s2) # 합집합
print(s1 - s2) # 차집합

{1, 2}
{1, 2, 3, 4, 5, 8}
{8, 4, 5}

In [47]:
# set은 중복이 제거됨
c = {1, 2, 3, 2}
print(c)

{1, 2, 3}

In [48]:
a = 'aaaa bbbb ccc ccc'
b = a.split(' ')
print(b)
print(set(b))

['aaaa', 'bbbb', 'ccc', 'ccc']
{'ccc', 'bbbb', 'aaaa'}

In [49]:
a = [1, 2, 3, 4, 5] # 리스트 => 값 변경 가능

b = {1, 2, 3, 4, 3, 3, 3} # 세트

c = (2, 2, 3, 4, 5) # 튜플 => 값 변경 불가능
# 최소한의 메모리로 최대한 빠르게 연산이 가능 (단순 결과물로 값을 보여줄 때) 튜플 사용

d = {'aaa':1,
     'bbb':2,
     'ccc':3} # 딕셔너리 => 값 변경 가능 / 키는 중복 불가능 /

In [50]:
# 리스트
print(a)
for i in a :
    print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [51]:
# 인덱싱과 슬라이싱은 생략한다고 ...

In [55]:
# 세트 
print(b)
for i in b :
    print(i)

{1, 2, 3, 4}
1
2
3
4

In [53]:
# 튜플 
print(c)
for i in c :
    print(i)

(2, 2, 3, 4, 5)
2
2
3
4
5

In [56]:
c[0]

2

In [57]:
c[0:3]
# 소괄호()가 사용되어있다면 튜플이라고 생각하자

(2, 2, 3)

In [59]:
# 딕셔너리
print(d)
for i in d :
    print(i) # 키값들만 튀어나옴

{'aaa': 1, 'bbb': 2, 'ccc': 3}
aaa
bbb
ccc

In [60]:
for i in d.items() :
    print(i)
    # 결과에 () 썼으니 튜플 맞다

('aaa', 1)
('bbb', 2)
('ccc', 3)

In [62]:
for i in d.items() :
    print(i[0], i[1])

aaa 1
bbb 2
ccc 3

In [65]:
for i, j in d.items() :
    print(f'{i} : {j}', end=' ')

aaa : 1 bbb : 2 ccc : 3

In [66]:
d['aaa']

1

In [67]:
d['bbb']

2

In [68]:
d['ccc']

3

In [69]:
e = [['id1', '가나다1', '010-0000-0000', 25],
    ['id2', '가나다2', '010-1001-0110', 35],
    ['id3', '가나다3', '010-0230-0233', 45]]

In [70]:
for i in e :
    print(i[3])

25
35
45

In [71]:
type(e)

list

In [74]:
e[0][3]

25

In [77]:
e[-2][-1]

35

In [78]:
max([1, 2, 3, 4, 5])

5

In [79]:
min([1, 2, 3, 4, 5])

1

In [80]:
import func as fc

In [83]:
a = fc.sum(7, 8)
print(a)

15

In [84]:
b = fc.sub(7, 8)
print(b)

-1

In [85]:
c = fc.mul()
print(c)

1

In [86]:
d = fc.mul(a = 4, b = 5)
print(d)

20

In [87]:
fc.mul(4, 5)

20

In [88]:
fc.sub(8,7)

1

In [89]:
fc.sub(b = 8, a = 7)

-1

In [91]:
# 딕션너리 생성
c = dict()
print(type(c))

<class 'dict'>

In [92]:
c

{}

In [93]:
c['key'] # 키가 없으면 오류 발생

KeyError: 'key'

In [95]:
# key 키가 없을 경우 0을 반환
print(c.get('key', 0))

0

In [96]:
c['key'] = 5

In [97]:
c

{'key': 5}

In [98]:
print(c.get('key', 0))

5

In [99]:
a = 'aaa bbb ccc aaa'
b = a.split() # ['aaa', 'bbb', 'ccc', 'aaa']

In [100]:
b

['aaa', 'bbb', 'ccc', 'aaa']

In [102]:
for i in b:
    c[i] = c.get(i, 0) + 1
    # c['aaa'] = 1       0+1
    # c['bbb'] = 1                 0+1
    # c['ccc'] = 1                 0+1
    # c['aaa'] = 2       1+1

{'key': 5, 'aaa': 2, 'bbb': 1, 'ccc': 1}

In [103]:
c = dict()
for i in b:
    print('딕셔너리', c)
    c[i] = c.get(i, 0) + 1
print(c)

딕셔너리 {}
딕셔너리 {'aaa': 1}
딕셔너리 {'aaa': 1, 'bbb': 1}
딕셔너리 {'aaa': 1, 'bbb': 1, 'ccc': 1}
{'aaa': 2, 'bbb': 1, 'ccc': 1}

In [108]:
# 텍스트 파일 읽기

# 상대경로
# f = open('./data/word.txt', mode = 'r')
#절대경로
f = open('C:/Users/ITPS/Desktop/workspacee/bigdata_python/data/word.txt', mode = 'r')
print(f.readline())
f.close()

aaa bbb ccc ddd eee aaa

In [109]:
pwd

'C:\\Users\\ITPS\\Desktop\\workspacee\\bigdata_python'

In [110]:
with open('./data/word.txt', mode='r') as f :
    print(f.readline())

aaa bbb ccc ddd eee aaa